{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fname</th>
                <th>Lname</th>
                <th>Web_site</th>
                <th>City</th>
                <th>Notes</th>
                <th>Type</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.fname }}</td>
                <td>{{ contact.lname }}</td>
                <td>{{ contact.webSite }}</td>
                <td>{{ contact.city }}</td>
                <td>{{ contact.notes }}</td>
                <td>{{ contact.type }}</td>
                <td>{{ contact.created ? contact.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_new') }}">Create new</a>
{% endblock %}
