{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}

{% block body %}
    <h1>Info</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ info.type }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ info.label }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ info.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('info_index') }}">back to list</a>

    <a href="{{ path('info_edit', {'id': info.id}) }}">edit</a>

    {{ include('info/_delete_form.html.twig') }}
{% endblock %}
